#gotop{
background:url(https://icon-icons.com/icons2/2550/PNG/64/arrow_circle_up_icon_152705.png) 50% 50% no-repeat;
z-index: 9999;
opacity: 0.7;
width:50px;
height: 50px;
display: block;
position: fixed;
cursor: pointer;
right: 25px;
bottom: 20px;
float:right;
border-radius: 50%;
}
#gotop:hover{
opacity: 1;
}
