{%load static%}
<!DOCTYPE html>
<html style="background:#1A1A1A;"  lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://actualidadradio.com/favicon.ico/favicon-16x16.png" type="image/x-icon">
    <link rel="icon" href="http://actualidadradio.com/favicon.ico/favicon-16x16.png" type="image/x-icon">        <link href="/static/css/button.css" rel="stylesheet" >
    <title>Self management </title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
     <link href="/static/css/video.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link href="/static/css/history.css" rel="stylesheet">
     <script src="/static/js/jquery.min.js"></script>
     <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  </head>
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="{%url 'home'%}">HOME</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="{% url 'history'%}" class="smoothScroll">ALL STORIES</a>
			<a href="#contact" class="smoothScroll">JOIN US</a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>
        <div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>
    <div style="high:auto;" id="headerwrap">
        <div class="container">
        {% include 'mysite/search.html' %}
			<div class="logo">
				<a href="{%url 'home'%}"><img src="/static/img/newlogo.png"></a>
			</div>

              {% for post in posts %}
                <div id="preview"  class="col-md-5">
                    <div class="single-post">

                        {% if post.photo %}
                       <a href="{% url 'post' post.slug %}"> <img src="{{ post.photo.url }}" alt="{{ post.title }}"></a>
                        {% else %}
                        <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                        {% endif %}

                        <h3>{{ post.title }}</h3>
                        <h2 style="color:red;"><span>Posted By: {{post.author}}</span>
                            <h3><a href="{{post.category.get_absolute_url}}">#{{post.category}}</a></h3>
                        </h2>
                        {{ post.content|truncatewords_html:20|safe }}
                        <h4><span>{{ post.created_at|date:"d.m.Y" }}</span></h4>
                    </div>
                    <p></p> <a style="margin-bottom:40px" href="{% url 'post' post.slug %}" class="btn btn-warning">READ MORE.</a></p>
                </div>
             {% empty %}
         <h1>No result sorry</h1>
                {% endfor %}

			</div>
             {%include 'mysite/inc_pagination.html'%}
              {%include 'mysite/inc_footer.html'%}
        <script src="/static/js/classie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/button.js"></script>
  <a id="gotop" href="#" alt="GO TOP" title="GO TOP"></a>
		</div>

	</div>
</body>
</html>

