<link href="/static/css/paginate.css" rel="stylesheet">
  {% if page_obj.has_other_pages %}
   <div class="dark-pagination">
     <ul>
         {% if page_obj.has_previous %}
         <li><a href="?page={{ page_obj.previous_page_number }}" title="Назад" >&laquo;</a></li>
          {% endif %}
         {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
         <li><a href="?page={{ p }}" title="Страница 1">{{ p }}</a></li>
          {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
         <li><a href="?{{ q }}page={{ p }}" title="Страница 2">{{ p }} </a></li>
         {% endif %}
         {% endfor %}
          {% if page_obj.has_next %}
         <li><a href="?page={{ page_obj.next_page_number }}" title="Вперед">&raquo;</a></li>
          {% endif %}
      </ul>
   </div>
 {% endif %}




