	{% load static %}
<link rel="stylesheet" href="/static/css/video.css">
<div class="container col-lg-6 col-lg-offset-3">
					<p>The mission of this project is to support people who are trying to change their lives for the better.</p>
					<p>For those who decided to change their profession, improve their physical condition, quit smoking or drinking alcohol</p>

<div style="margin-top:70px;">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/tbnzAVRZ9Xc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div style="margin-top:70px;">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/bXGhtjezJPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

	<div style="margin-top:70px;">
<iframe width="100%" height="315" src="https://www.youtube.com/embed/1bumPyvzCyo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
